---
title: "JS Girls Style Guide"
layout: "default"
---

a(href='markdown.html') Link to Markdown Styles

p.
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！

a(href='markdown.html') Link to Markdown Styles