---
title: "JS Girls Style Guide"
layout: "default"
---

p.
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！
  おっすおらぽこたん！れっつえんじょいぽこたん！