// Foundation
@import "vendor/normalize.styl";
@import "vendor/kite.styl";

// Color
$js-black = #000000
$js-gray = #D8D8D8
$js-yellow = #EFDA5B
$js-pink = #FF61AD
$js-blue = #61D9FF
$js-orange = #FF914D
$js-type = 'Hiragino Kaku Gothic ProN', Helvetica, sans-serif
$js-type-yeseva = 'Yeseva One', $js-type

// Base
html
  -webkit-text-size-adjust 100%
  background-color $js-gray
  font-family $js-type
  color: $js-black
  @media only screen and (max-width: 640px)
    font-size 14px

h1,h2,h3,h4,h5,h6,p,ul,dl
  margin 0
  margin-bottom 10px
  padding 0
  line-height 1.5

strong
  color: $js-orange
  font-weight bold

img
  vertical-align top
  max-width 100%

hr,
.hr 
  border-bottom 5px solid $js-yellow

// Typography
.type
  font-family: $js-type;

.alpha
  margin-bottom 20px
  padding-bottom 10px
  border-bottom 5px solid $js-yellow
  font-size 2.2rem
  font-family: $js-type;
  a
    text-decoration none
    color inherit
    &:hover
      color: $js-pink

.beta
  margin-bottom 10px
  font-size 1.6rem
  font-family: $js-type;
  a
    text-decoration none
    color inherit
    &:hover
      color: $js-pink
.beta--headline
  padding-bottom 10px
  border-bottom 1px solid $js-gray

.omega
  margin-bottom 10px
  font-size 1.2rem
  font-weight bold

// Layout
.the-hero
  background-color $js-yellow
  
.the-header
  position relative
  background-color $js-yellow
  // background-image url('/img/logo-min.png')
  // background-position right bottom
  // background-repeat no-repeat
  a
    text-decoration none
    color inherit
    &:hover
      color: $js-pink
  @media only screen and (max-width: 640px)
    text-align center
    .site-name
      display block
      padding-top 10px
    .site-banner
      display none
    .site-nav
      margin-bottom 0

.the-main
  padding-top 20px
  padding-bottom 20px
  background-color #fff

.the-footer
  line-height 88px
  a
    color inherit

.l-container
  margin-left auto
  margin-right auto
  max-width 980px

.l-line
  list-style none
  margin-left 0
  > li
    display: inline

// Component
.tagline
  font-size 4rem
  font-family $js-type
  @media only screen and (max-width: 640px)
    font-size 2rem
    > span
      display block

.logo
  @media only screen and (max-width: 640px)
    max-width: 150px
    max-height: 150px

.intro
  font-size: 1.2rem

.site-name
  line-height 1
  font-size 3rem
  font-family $js-type

.site-nav
  line-height 3rem
  font-size: 1.2rem
  font-weight bold
  > li
    margin-right 1em

.site-banner
  position absolute
  right 10px
  bottom 10px

.section
  margin-bottom 30px

.event-list
  > li
    margin-bottom 20px

.media
  overflow hidden // Clearfix
.media__image
  float left
  margin-right 10px
  > img
    display block
.media__image--rev
  float right
  margin-left 10px
  margin-right auto
.media__body
  overflow hidden

.table
  border-collapse collapse
  width 100%
  th,td
    padding 0.5em 1em
.table__head
  border-bottom: 1px solid $js-gray
.table__title
  border-right: 1px solid $js-gray
  font-weight bold
  text-align right
.table__cell--center
  text-align center
.table__cell--right
  text-align right

.button
  // TODO: Separated font-size setting
  display inline-block
  border-radius 3px
  border 1px solid $js-orange
  padding 0.5em 1em
  background-color: $js-orange
  font-weight bold
  &:hover
    background-color mix($js-orange,#FFF,80%)
  &.is-disabled
    border 1px solid $js-gray !important
    background-color $js-gray !important
    color #000 !important
.button-primary
  border-color $js-pink
  background-color: $js-pink
  font-size 2rem
  &:hover
    background-color mix($js-pink,#FFF,80%)
.button-secondary
  border-color $js-blue
  background-color: $js-blue
  &:hover
    background-color mix($js-blue,#FFF,80%)
.button-full
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width 100%

.frame
  border 1px solid $js-gray
  background-color $js-gray

.map-canvas
  width 100%
  height 320px

.copyright
  padding 1rem 0

// Helper
.mbs {
  margin-bottom 10px
}
.mbm {
  margin-bottom 20px
}
.mbl {
  margin-bottom 30px
}