---
title: "Materials"
layout: "default"
---
.section
  .grid
    .grid__cell.grid__cell--12
      h2.alpha Slide
  .grid
    .grid__cell.grid__cell--6
      p
        a(href='https://speakerdeck.com/tacamy/js-girls-tokyo-number-1')
          img.img--fluid.frame(src='/assets/img/materials/tacamy-201403.png')
      p
        | 初めてのJavaScript
        br
        | By <a href="http://twitter.com/tacamy">Takami Yamada</a>

.section
  .grid
    .grid__cell.grid__cell--12
      h2.alpha Hands-on
  .grid
    .grid__cell.grid__cell--6
      p
        a(href='https://github.com/1000ch/chrome-extension-hands-on/wiki')
          img.img--fluid.frame(src='/assets/img/materials/1000ch-201403.png')
      p
        | ハンズオン：Google Chrome拡張機能をつくる
        br
        | By <a href="http://twitter.com/1000ch">Shogo Sensui</a>