header.the-header
  div.l-container
    div.kite-g
      h1.kite-g__c.kite-g__c--bottom.kite-g__c--3
        a.site-name(href='/') JS Girls
      nav.kite-g__c.kite-g__c--bottom.kite-g__c--6
        ul.site-nav.l-line
          li: a(href='/events') Events
          li: a(href='/about') About
      div.kite-g__c.kite-g__c--bottom.kite-g__c--right.kite-g__c--3
        img.site-banner(src='/img/logo-min.png')