header.the-header
  div.l-container
    div.g
      h1.g__c.g__c--bottom.g__c--3
        a.site-name(href='/') JS Girls
      nav.g__c.g__c--bottom.g__c--9
        ul.site-nav.l-line
          li: a(href='/events') Events
          //- li: a(href='/about') About
        img.site-banner(src='/img/logo-min.png')