header.the-header
  div.l-container
    div.grid
      h1.grid__cell.grid__cell--bottom.grid__cell--3
        a.site-name(href='/') JS Girls
      nav.grid__cell.grid__cell--bottom.grid__cell--9
        ul.site-nav.l-line
          li: a(href='/events') Events
          //- li: a(href='/about') About
        img.site-banner(src='/img/logo-min.png')