header.container
  div.global-header
    h1
      a(href='/') JS Girls
    nav
      ul
        li: a(href='/events') Events
        li: a(href='/about') About
    a(href='/about')
      img(src='/img/logo.png' width='100px' height='100px')