header.the-hero
  div.l-container
    div.kite-g
      h1.kite-g__c.kite-g__c--center.kite-g__c--12
        img(src='/img/logo.png', width='300', height='300')
        p.tagline Hello, We are JS Girls?