header.the-hero
  div.l-container
    div.grid
      h1.grid__cell.grid__cell--center.grid__cell--12
        img.logo(src='/img/logo.png', width='300', height='300')
        p.tagline Hello, <span>We are JS Girls!</span>