script(src='https://maps.googleapis.com/maps/api/js?sensor=true')
script(src='/assets/js/vendor/vendor.min.js')
script(src='/assets/js/app.min.js')
script(src='//connect.facebook.net/ja_JP/all.js#xfbml=1', defer='defer')
script(src='https://platform.twitter.com/widgets.js', defer='defer')
script(src='https://apis.google.com/js/plusone.js', defer='defer')