---
title: "Hello, We are JS Girls!"
layout: "default"
isPage: true
---

style
  body {
    height: 600px;
    background: #f0db4f url("/img/logo.png") center center no-repeat;
    text-align: center
  }

  p {
    padding-top: 580px;
    font-size: 36px;
    font-family: 'Arapey', serif;
    font-style: italic
  }

p Hello, We are JS Girls!